!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### Java template
# Compiled class tag
*.class

# "temporary" build files
/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
