<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/dashboard.css" />
</head>
<body>
	<header th:insert="blocks/header :: header"></header>

	<div class="container-fluid">
		<div class="row">
			<div th:insert="blocks/menu :: menu"></div>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<div class="chartjs-size-monitor"
					style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
					<div class="chartjs-size-monitor-expand"
						style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
						<div
							style="position: absolute; width: 1000000px; height: 1000000px; left: 0; top: 0"></div>
					</div>
					<div class="chartjs-size-monitor-shrink"
						style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
						<div
							style="position: absolute; width: 200%; height: 200%; left: 0; top: 0"></div>
					</div>
				</div>
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2" th:text="${title}" />
				</div>
				<div th:each="el : ${student}">
					<form method="post">
						<input type="text" th:value="${el.first_name}" name="first_name" placeholder="Enter first name" class="form-control"><br>
						<input type="text" th:value="${el.last_name}"name="last_name" placeholder="Enter last name" class="form-control"><br>
						<select class="form-control" name="group">
  							<option value="1" th:selected="${el.group_id==1}">1</option>
  							<option value="2" th:selected="${el.group_id==2}">2</option>
  							<option value="3" th:selected="${el.group_id==3}">3</option>
  							<option value="4" th:selected="${el.group_id==4}">4</option>
  							<option value="5" th:selected="${el.group_id==5}">5</option>
  							<option value="6" th:selected="${el.group_id==6}">6</option>
  							<option value="7" th:selected="${el.group_id==7}">7</option>
  							<option value="8" th:selected="${el.group_id==8}">8</option>
  							<option value="9" th:selected="${el.group_id==9}">9</option>
  							<option value="10" th:selected="${el.group_id==10}">10</option>
						</select><br>
						<button type="submit" class="btn btn-success  btn-block">Edit</button>
					</form>
				</div>	
			</main>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>